:root {
  --background-yellow: #FFD95D;
  --background-yellow-sub: #F7CD46;
  --btn-yellow: #FF9d00;
  --white: #fff
  --black: #000
  --red: #fc2d37
  --gray: #3339;
  --border-gray:#0000001a;
}

body{
    font-family:'sans-serif';
    margin: 0px;
    padding: 0px;
    /*line-height: 1.7;*/
    border: none;
    height: 100vh;
    background-color: var(--background-yellow);
}
img{
    max-width:100%;
}
.main {
  margin: 20px;
  max-width: 1000px;
  min-width: 250px;
  line-height: 1;
  font: red;
}

.block {
  background-color: #FFFFFF;
  text-align: center;
  padding:20px 0 20px 0;
  border-radius:25px;
  border:4px solid #000000;
}
