body{
    font-family:'sans-serif';
    margin: 0px;
    padding: 0px;
    /*line-height: 1.7;*/
    border: none;
    height: 100vh;
    background-color:rgb(255, 217, 93);/*rgb(247,205,70)*/
}
img{
    max-width:100%;
}
.main {
  margin: 20px;
  max-width: 1000px;
  line-height: 1;
  font: red;
}

.block {
  background-color: #FFFFFF;
  text-align: center;
  padding:20px 0 20px 0;
  border-radius:50px;
  border:7px solid #000000;
}

input[type="submit"]{
    border:none;
    padding:15px;
    width:150px;
    background-color:#ff9d00;
    color:#000000;
    font-size: 1.0rem;
    border-radius:10px;
}

.goal {
  font-size: 1.4rem;
}
.goal textarea {
  font-size: 1rem;
  width: 80%;
  height: 60px
};
